
.so-widget-sow-post-carousel .widget-title {
  padding-right: 15px;  
  text-align: center;
}
.sow-carousel-title a.sow-carousel-next,
.sow-carousel-title a.sow-carousel-previous {
  font-family: 'carousel-arrows';
  speak: none;
  display: block;
  float: right;
  overflow: hidden;
  margin-left: 2px;
  margin-top: 3px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 8px;
  line-height: 18px;
  width: 18px;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: #FFFFFF;
  background: #333333;
  border-radius: 2px;
}

.sow-posts-items.sow-posts-items {
    padding-top: 50px;
}

.widget_sow-carousel {
  overflow-x: hidden;
  overflow-y: hidden;
}
.sow-carousel-wrapper {
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
}
.sow-carousel-wrapper ul.sow-carousel-items {
  list-style: none;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  height: 200px;
  margin: 0;
  padding: 0;
  zoom: 1;
  width: 99999px;
}
.sow-carousel-wrapper ul.sow-carousel-items:before {
  content: '';
  display: block;
}
.sow-carousel-wrapper ul.sow-carousel-items:after {
  content: '';
  display: table;
  clear: both;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: block;
  float: left;
  margin-right: 15px;
  width: 242px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item:last-child {
  margin-right: 0;
}

.so-widget-sow-post-carousel .owl-pagination {
    display: none;
    visibility: hidden;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item h3 {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #474747;
  margin: 10px 0 0 0;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item h3 a {
  text-decoration: none;
  color: inherit;
}

.widget_sow-post-carousel .owl-pagination {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -38px;
}

.sow-carousel-item .view {
    margin: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    width: 70%;
    margin: 0 auto;
    background: white;
    border: 10px solid white;
} 
.sow-carousel-item .view .mask, .sow-carousel-item .view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} 
.sow-carousel-item .view img {
    display: block;
    position: relative;
    border-radius:5px;
} 
.sow-carousel-item .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
} 
.sow-carousel-item .view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
} 
.sow-carousel-item .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
} 
.sow-carousel-item .view a.info:hover {
    box-shadow: 0 0 5px #000
}
 
.sow-carousel-item .view img {
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
    width: 100%;
} 
.sow-carousel-item .view .mask {
    /*background-color: rgba(255, 231, 179, 0.3);*/
    transition: all 0.5s linear;
    opacity: 0;
} 
.sow-carousel-item .view h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
    margin-bottom: 10px;
} 
.sow-carousel-item .view a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}
 
.sow-carousel-item .view:hover img {
    transform: scale(10);
    opacity: 0;
} 
.sow-carousel-item .view:hover .mask {
    opacity: 1;
} 
.sow-carousel-item .view:hover h2,
.sow-carousel-item .view:hover a.info{
    transform: scale(1);
    opacity: 1;
}

.sow-carousel-item .view:hover .post-info {
    display: none;
}